<mat-sidenav mode="side" opened class="toolbar">
    <div class="burgerDiv">
        <button mat-icon-button class="burger" routerLinkActive="mat-accent" routerLink="inicio"><mat-icon>home</mat-icon></button>
        <span class="menu-text">Inicio</span>
    </div>

    <div class="bottom-decor"><div class="separator"></div> </div>

    <div class="burgerDiv">
        <button mat-icon-button class="burger" routerLinkActive="mat-accent" routerLink="geoportal-disati"><mat-icon>public</mat-icon></button>
        <span class="menu-text">Geoportal</span>
    </div>

    <div class="bottom-decor"><div class="separator"></div> </div>

    <div class="burgerDiv">
        <button mat-icon-button class="burger" routerLinkActive="mat-accent" routerLink="sobre-nosotros"><mat-icon>info</mat-icon></button>
        <span class="menu-text">Sobre Nosotros</span>
    </div>

    <div class="bottom-decor"><div class="separator"></div> </div>

    <div class="burgerDiv">
        <button mat-icon-button class="burger" routerLinkActive="mat-accent" routerLink="ayuda"><mat-icon>help</mat-icon></button>
        <span class="menu-text">Ayuda</span>
    </div>

</mat-sidenav>

