<main class="main-content">
    <section class="features">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h2>DISATI</h2>
                    <p><em>Diagnóstico sobre la situación del Sistema de Administración del Territorio en
                            Iberoamérica</em></p>
                    <div class="feature">
                        <h3>Objetivo</h3>
                        <p>El objetivo de DISATI es iniciar el camino para abordar, desde la investigación, los retos
                            relacionados
                            con la tenencia de tierras, que permitan apoyar y dotar de mayor eficiencia a aquellos
                            proyectos que afectan
                            al desarrollo territorial en Iberoamérica; fundamentalmente a partir de la información
                            gráfica catastral y
                            registral. </p>
                    </div>
                    <div class="feature">
                        <h3>Descripción del proyecto DISATI</h3>
                        <p>En este proyecto se pretenden identificar necesidades y plantear avances en aspectos
                            cartográficos para
                            fortalecer los distintos sistemas de administración del territorio a partir de un
                            diagnóstico de la
                            situación actual existente. Todo ello, con la colaboración de grupos internacionales e
                            iberoamericanos que
                            representan a la gran mayoría de los sistemas de administración del territorio de los países
                            iberoamericanos.</p>
                    </div>
                </div>
                <div class="column">
                    <h2>Proyecto Geoportal DISATI</h2>
                    <p><em>Trabajo Final de Máster - Máster Universitario en Ingeniería Geomática y Geoinformación
                            (UPV)</em></p>
                    <div class="feature">
                        <h3>Objetivo</h3>
                        <p>El objetivo del Geoportal es visualizar y recopilar información catastral de Iberoamérica.
                        </p>
                    </div>
                    <div class="feature">
                        <h3>Información empleada</h3>
                        <p>En el geoportal se incluyen capas con divisiones catastrales y detalles como los miembros del
                            CPCI
                            (Comités Permanente del Catastro en Iberoamérica) o de APPAT (Asociación Panamericana de
                            Profesionales de la
                            Agrimensura y Topografía). De este modo, el geoportal permite visualizar y modificar la
                            información
                            existente y agregar nueva información cuando sea necesario.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="column2">
                        <img class="logo-img" src="assets/images/logo_ETSIGCT_transparente.png" alt="Logo ETSIGCT">
                        <img class="logo-img2" src="assets/images/AF LOGO CCASAT2_2.jpg" alt="Logo CCASAT">
                        <img class="logo-img" src="assets/images/logo_UPV_transparente.png" alt="Logo UPV">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cta">
                    <div class="column">
                        <h2>¿Desea saber más sobre DISATI?</h2>
                        <a class="btn" (click)="openURL()">Saber Más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>