<section class="floating-menu">

    <button mat-fab aria-label="Home" class="button-menu" (click)="resetMap()" matTooltip="Extensión inicial"
        matTooltipPosition="right">
        <mat-icon>home</mat-icon>
    </button>

    <!--button mat-fab aria-label="Información" class="button-menu" (click)="toggleFloatingPanel('info')"
        matTooltip="Información" matTooltipPosition="right">
        <mat-icon>info</mat-icon>
    </button-->

</section>

<!-- Elementos del menu-->

<!--div class="indicador1" *ngIf="selectedMenu === 'info'"> <mat-icon class="icon_ind">navigate_before</mat-icon></div>

<div class="left-menu-panel" *ngIf="selectedMenu">

    <div id="info" class="info" *ngIf="selectedMenu === 'info'">
        <h3><mat-icon class="icon_ind2">info</mat-icon>Información</h3>
        <div>
            <h4>¿Desea saber más sobre DISATI?</h4>
            <a class="btn" (click)="abrirEnlace()">Saber Más</a>
        </div>
    </div>

</div-->
