<main class="main-content">
    <section class="about-us">
        <div class="team-container">
            <div class="team-member2">
                <div class="member-name2">
                    <h3>Miembros DISATI:</h3>
                </div>
                <ul style="padding-left: 30px;">
                    <li>
                        <p class="member-role2">Carmen Femenia-Ribera (Profesora UPV)</p>
                    </li>
                    <li>
                        <p class="member-role">Gaspar Mora-Navarro (Profesor UPV)</p>
                    </li>
                    <li>
                        <p class="member-role">Enric Terol (Profesor UPV)</p>
                    </li>
                    <li>
                    <p class="member-role">Inmaculada Marques Pérez (Profesora UPV)</p> 
                    </li>
                </ul>
                <p style="margin-top: 30px;">
                    Con la colaboración de Lorena Silvestre en su trabajo final de máster (alumna Máster Ingeniería Geomática y Geoinformación, UPV)
                </p>
            </div>
            <div class="team-member">
                <img src="assets/images/Lorena.jpeg" alt="imagen2" class="member-photo">
                <div class="member-name">
                    <h3>Lorena Silvestre Jurado</h3>
                    <a href="https://www.linkedin.com/in/lorenasilvestrejurado" target="_blank" class="linkedin-link">
                        <img src="assets/images/linkedin.png" alt="LinkedIn" class="linkedin-icon">
                    </a>
                </div>
                <p class="member-role">Analista y Desarrolladora GIS</p>
                <p class="member-description">Desarrolladora del Geoportal DISATI, trabajo Final de Máster, Máster Universitario en Ingeniería Geomática y Geoinformación (UPV)</p>
            </div>
        </div>
    </section>